In [2]:
import numpy as np
import random

In [30]:
def generate_values():
    return {
        "temp": random.uniform(15,50),
        "humidity": random.randint(15,100)
    }
data= (generate_values() for _ in range(200))

In [17]:
import pandas as pd

In [31]:
df=pd.DataFrame(data)

In [32]:
df

          temp  humidity
0    44.158358        46
1    19.017541        94
2    23.597129        87
3    28.026717        87
4    18.159839        56
..         ...       ...
195  37.669072        91
196  38.381752        39
197  21.924772        53
198  34.246376        54
199  28.625795        52

[200 rows x 2 columns]

In [2]:
from datetime import datetime
import time

In [ ]:

while True:
  localtime = time.localtime()
  result = time.strftime("%d/%m/%Y %I:%M:%S %p", localtime)
  print(result)
  time.sleep(1)

04/10/2022 04:38:11 PM
04/10/2022 04:38:12 PM
04/10/2022 04:38:13 PM
04/10/2022 04:38:14 PM
04/10/2022 04:38:15 PM
04/10/2022 04:38:16 PM
04/10/2022 04:38:17 PM